
/* Admin subsection CSS */
.wpna-subsections-wrapper {
	margin-top: 8px;
}

.wpna-subsections-wrapper ul {
}

.wpna-subsections-wrapper li {
	display: inline-block;
}

.wpna-subsections-wrapper ul li a {
	text-decoration: none;
}

.wpna-subsections-wrapper ul li.active a {
	font-weight: bold;
	color: #23282d;
}

/* WPNA Labels */

.wpna-label {
	text-transform: uppercase;
	display: inline;
	padding: .4em .6em;
	font-size: .8em;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.wpna-label-warning {
	background: #f0ad4e;
}

.wpna-label-danger {
	background: #d9534f;
}

.wpna-label-success {
	background: #5cb85c;
}

.wpna-facebook-api-errors-table {
	margin-top: 15px;
	width: 80%;
}

.wpna-facebook-api-errors-table th {
	font-weight: 600;
	padding-bottom: 1rem;
	padding-right: 1rem;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.wpna-facebook-api-errors-table td {
	font-weight: 400;
	padding: 1rem 1rem 1rem 0;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.wpna-status {
	margin-left: 6px;
	line-height: 28px;
	display: none;
}

.wpna-progress-wrapper {
	margin: 10px 0px;
	width: 600px;
}
.wpna-progress {
	float: left;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: left;
	height: 20px;
	width: 100%;
	margin-top: 15px;
}
.wpna-progress div {
	width: 1px;
	height: 100%;
	background-color: #337ab7;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
