.wpna-label {
	text-transform: uppercase;
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.wpna-label-warning {
	background: #f0ad4e;
}

.wpna-label-danger {
	background: #d9534f;
}

.wpna-label-success {
	background: #5cb85c;
}

.wpna-facebook-api-errors-table {
	margin-top: 15px;
	width: 80%;
}

.wpna-facebook-api-errors-table th {
	font-weight: 600;
	padding-bottom: 1rem;
	padding-right: 1rem;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.wpna-facebook-api-errors-table td {
	font-weight: 400;
	padding: 1rem 1rem 1rem 0;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
